<p style="color: green"><%= notice %></p>

<% content_for :title, "Books" %>

<h1><%= t (".books") %></h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
  <div class="index-item">
    <%= render book %>
    <p>
      <%= link_to t('books.action.show', model: Book.model_name.human.downcase_first), book %>
    </p>
  </div>
  <% end %>
</div>

<%= link_to t('books.action.new', model: Book.model_name.human.downcase_first), new_book_path %>
