<p style="color: green"><%= notice %></p>

<div class="show-item">
  <%= render @book %>
</div>

<nav class="page-nav">
  <%= link_to t(:edit, scope: [:actions], model: Book.model_name.human.downcase_first ), edit_book_path(@book) %> |
  <%= link_to t(:back, scope: [:actions]), books_path %>

  <%= button_to t(:delete, scope: [:actions], model: Book.model_name.human.downcase_first), @book, method: :delete %>
</nav>
