<p style="color: green"><%= notice %></p>

<div class="show-item">
  <%= render @book %>
</div>

<nav class="page-nav">
  <%= link_to t('books.action.edit', model: Book.model_name.human.downcase_first ), edit_book_path(@book) %> |
  <%= link_to t('books.action.back', books: t('books.index.books').downcase_first), books_path %>

  <%= button_to t('.delete', model: Book.model_name.human.downcase_first), @book, method: :delete %>
</nav>
